<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>
  

  <!-- Main Content -->
  <main class="container">
    <div class="row">
        <div class="offset-md-1 col-md-11">
            <h1><%= title %></h1>

            <% if(typeof displayName == 'string' && displayName) { %>
                <a href="/contact-list/add" class="btn btn-primary" role="button">
                <i class="fas fa-plus-circle"></i> Add a contact</a>
            <% } %>
            <br>
            <table class="table table-bordered table-striped table-hover" style="width:100%">
                <!-- Header Row-->
                <tr class="d-flex">
                    <% if(typeof displayName == 'string' && displayName) { %>
                        <th class="text-center" style="width:25%">Title</th>
                        <th class="text-center" style="width:30%">Email Id</th>
                        <th class="text-center" style="width:25%">Contact</th>
                        <th class="text-center" style="width:10%"></th>
                        <th class="text-center" style="width:10%"></th>
                    <% } else { %>
                        <th class="text-center" style="width:30%">Title</th>
                        <th class="text-center" style="width:40%">Email Id</th>
                        <th class="text-center" style="width:30%">Contact</th>
                    <% } %>
                </tr>

                <!-- Repeatable Template Row -->

                <% for(let count = 0; count < contactList.length; count++) { %>
                    <tr class="d-flex">
                        <% if(typeof displayName == 'string' && displayName) { %>
                            <td class="text-center" style="width:25%"><%= contactList[count].name %></td>
                            <td class="text-center" style="width:30%"><%= contactList[count].email %></td>
                            <td class="text-center" style="width:25%"><%= contactList[count].contact %></td>          
                            <td class="text-center" style="width:10%">
                                <a href="/contact-list/edit/<%= contactList[count]._id %>" class="btn btn-primary btn-sm">
                                <i class="fas fa-pencil-alt"></i> Edit</a>
                            </td>
                            <td class="text-center" style="width:10%">
                                <a href="/contact-list/delete/<%= contactList[count]._id %>" class="btn btn-danger btn-sm">
                                <i class="fas fa-trash-alt"></i> Delete</a>
                            </td>
                         <% } else { %>
                            <td class="text-center" style="width:30%"><%= contactList[count].name %></td>
                            <td class="text-center" style="width:40%"><%= contactList[count].email %></td>
                            <td class="text-center" style="width:30%"><%= contactList[count].contact %></td>
                         <% } %>
                    </tr>
                <% } %>
            </table>
        </div>
    </div>
  </main>
  
<%- include ../partials/bottom_nav.ejs %>  

<%- include ../partials/footer.ejs %>
  





